<?xml version="1.0" encoding="UTF-8" ?>
      <rss version="2.0">
      <channel>
       <title><p>TUoS HPC Changelog</p>
 | Tag Feed: "<p>web</p>
"</title>
       <description>HPC Changelog recent changes for tag:"<p>web</p>
" </description>
       <link>http://changelog.hpc.shef.ac.uk/</link>
       <lastBuildDate>Thu, 06 Mar 2025 15:26:46 +0000</lastBuildDate>
       <pubDate>Thu, 06 Mar 2025 15:26:46 +0000</pubDate>
       <ttl>7200</ttl>
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
       <item>
        <title><p>Welcome to Changelog</p>
</title>
        <description>
</description>
        <link>http://changelog.hpc.shef.ac.uk//new/2019-04-30-welcome-to-changelog/</link>
        <guid isPermaLink="true">http://changelog.hpc.shef.ac.uk//new/2019-04-30-welcome-to-changelog/</guid>
        <pubDate>Tue, 30 Apr 2019 00:00:00 +0000</pubDate>
       </item>
    
  
      </channel>
      </rss>